<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

	<!-- Bootstrap-Core-CSS --> <link href="__STATIC__/index/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom-Theme-Styling --> <link href="__STATIC__/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl-Carousel-Styling --> <link rel="stylesheet" href="__STATIC__/index/css/owl.carousel.css" type="text/css" media="all">

	<!-- Web-Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<!-- //Web-Fonts -->

	<script src="__STATIC__/index/js/modernizr.custom.js"></script>

</head>
<body>

    <!-- Header-Starts-Here -->
    <div class="header">

        <div class="container">
        <!-- Navigation -->
		    <nav class="navbar navbar-inverse">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">导航</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		            </div>
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    <li class="active cl-effect-7"><a href="#">首页</a></li>
			                <li class="cl-effect-7 scroll"><a href="#services">服务</a></li>
			                <li class="cl-effect-7 scroll"><a href="#offer">提供</a></li>
			                <li class="cl-effect-7 scroll"><a href="#about">关于我们</a></li>
			                <li class="cl-effect-7 scroll"><a href="#contact">联系我们</a></li>
		                </ul>
		            </div>
		            <!-- //Navbar-collapse -->
		    </nav>
        </div>
        <!-- //Container -->

        <!-- Slider-Starts-Here -->
        <div class="slider">
            <ul class="rslides" id="slider">

                <li>
                    <img src="__STATIC__/index/images/1.jpg" alt="Tradeaux">
                </li>
                <li>
                    <img src="__STATIC__/index/images/2.jpg" alt="Tradeaux">
                </li>
                <li>
                    <img src="__STATIC__/index/images/3.jpg" alt="Tradeaux">
                </li>
            </ul>
        </div>
        <!-- //Slider-Ends-Here -->        

    </div>
    <!-- //Header-Ends-Here -->

    <div class="content">

    	<!-- Area-Starts-Here -->
        <div class="area" id="services">
		
			<h1>服务</h1>
			
            <div class="container">
                <div class="area1">
                    <div class="col-md-4 col-sm-4 air slideanim">
                        <div class="area-image">
                            <img src="__STATIC__/index/images/b1.jpg" alt="Tradeaux">
                        </div>
                        <div class="area-info">
                            <h4>GLOBAL AIR FREIGHT</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 sea slideanim">
                        <div class="area-image">
                            <img src="__STATIC__/index/images/b2.jpg" alt="Tradeaux">
                        </div>
                        <div class="area-info">
                            <h4>OFFSHORE HANDLING</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 land slideanim">                        
                        <div class="area-image">
                            <img src="__STATIC__/index/images/b3.jpg" alt="Tradeaux">
                        </div>
                        <div class="area-info">
                            <h4>GROUND SHIPPING</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>    
        <!-- //Area-Ends-Here -->

        <!-- Offer-Starts-Here -->
        <div class="offer slideanim" id="offer">
            <div class="container">
                <h3>涉足领域</h3>
                <div class="cover-grid">
                    <div class="col-md-4 cover-top-grid slideanim">
                        <div class="column-wrap clearfix">
                            <div class="column">
                                <a class="" href="#"><img src="__STATIC__/index/images/o1.jpg" alt="Tradeaux"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 cover-top-grid slideanim">
                        <div class="column-wrap clearfix">
                            <div class="column">
                                <a class="" href="#"><img src="__STATIC__/index/images/o2.jpg" alt="Tradeaux"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 cover-top-grid slideanim">
                        <div class="column-wrap clearfix">
                            <div class="column">
                                <a class="" href="#"><img src="__STATIC__/index/images/o3.jpg" alt="Tradeaux"></a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //Offer-Ends-Here -->

        <!-- Cover-Starts-Here -->

        <!-- //Cover-Ends-Here -->

        <!-- Details-Starts-Here -->
        <div class="details">
            <div class="container">
            	<h2>关于我们</h2>

            	<!-- News-Starts-Here -->
                <div class="news">
                    <p class="text-c" style="text-indent: 2em; font-size: 20px;">
                        网络技术开发、技术咨询、技术服务、技术推广;网页设计制作游戏开发、计算机系统服务;计算机软件开发销售;弱电工程设计施工、智能化工程施工;网络综合布线、计算机系统集成;电脑图文设计制作(不含印刷)、平面设计;电子设备技术开发、技术咨询、技术服务、技术转让;
                    </p>
                </div>
                <!-- News-Ends-Here -->
            </div>
        </div>
        <!-- Details-Ends-Here -->

    	

    	<!-- Contact-Starts-Here -->
    	<div class="contact slideanim" id="contact">
    		<div class="container">
        		<h3>联系我们</h3>
        		<form class="contact_form">

        			<div class="message">
						<div class="col-md-6 col-sm-6 grid_6 c1">
							<input type="text" class="text" value="姓名" placeholder="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
							<input type="text" class="text" value="邮箱" placeholder="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}">
							<input type="text" class="text" value="电话" placeholder="电话" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话';}">
						</div>
				
						<div class="col-md-6 col-sm-6 grid_6 c1">
							<textarea placeholder="内容" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '内容';}">内容</textarea>
						</div>
			            <div class="clearfix"> </div>
		        	</div>

					<input type="submit" class="more_btn" value="提交">
			 	</form>
		 	</div>
    	</div>
		<!-- //Contact-Ends-Here -->

    </div>

    <!-- Footer-Starts-Here -->
    <div class="footer">

        <div class="container">

            <div class="footer-info slideanim">
                <div class="col-md-6 footer-info-grid links">
                	<h4>快捷链接</h4>
                	<ul>
	                    <li><a href="#">首页</a></li>
	                    <li><a href="#cover">报道</a></li>
	                    <li><a href="#offer">提供</a></li>
	                    <li><a href="#service">服务</a></li>
	                    <li><a href="#contact">联系我们</a></li>
	                </ul>
                </div>
                <div class="col-md-6 footer-info-grid address">
                	<h4>公司地址</h4>
                	<address>
	                    <ul>
	                    	<li>QQ：11111111</li>
	                    	<li>客服电话：13695397227</li>
	                    	<li>手机 : 13695397227</li>
	                    	<li>Email : ybt@qq.com</li>
	                    </ul>
	               </address>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="copyright slideanim">
                <p>Copyright &copy; 2018.山东众度网络科技有限公司 All rights reserved.</p>
            </div>

        </div>

        

    </div>
    <!-- //Footer-Ends-Here -->

    <!-- Supportive-JavaScript --><script type="text/javascript" src="__STATIC__/index/js/jquery.min.js"></script>
    <!-- Necessary-JS-File-For-Bootstrap --><script type="text/javascript" src="__STATIC__/index/js/bootstrap.min.js"></script>

    <!-- SmoothScroll-JavaScript -->
    <script>
        $(document).ready(function(){
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar li a, .footer a[href='#myPage']").on('click', function(event) {

            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 900, function(){
           
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
            });
          
            $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                  $(this).addClass("slide");
                }
                });
            });
        })
    </script>
    <!-- //SmoothScroll-JavaScript -->

    <!-- Slideanim-JavaScript -->
    <script type="text/javascript">
        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    </script>
    <!-- //Slideanim-JavaScript -->

    <!-- Owl-Carousel-JavaScript -->
	<script src="__STATIC__/index/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 4,
				lazyLoad : true,
				autoPlay : true,
				pagination : false,
			});
		});
	</script>
    <!-- //Owl-Carousel-JavaScript -->

    <!-- Banner-Slider-JavaScript -->
	<script src="__STATIC__/index/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
			  auto: true,
			  nav: true,
			  speed: 500,
			  namespace: "callbacks",
			  pager: true,
			});
		  });
	</script>
    <!-- //Banner-Slider-JavaScript -->    
    
	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/            
			$().UItoTop({ easingType: 'easeOutQuart' });            
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //Slide-To-Top JavaScript -->
	   
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="__STATIC__/index/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	
	<!-- FlexSlider-JavaScript -->
    <script defer src="__STATIC__/index/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        /*$(function(){
            SyntaxHighlighter.all();
        });*/
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //FlexSlider-JavaScript -->
	
</body>
</html>